venv/
.venv/
ENV/
env/

__pycache__/
*.pyc
*.pyo
*.pyd

.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

build/
dist/
*.egg-info/

models/
settings.json

.idea/
.vscode/
